/**
 * Magicssian
 * A CSS Boilerplate
 * Version: 0.1.0
 * http://codeinalabMX.github.io/magicssian
 * License: MIT
 *
 * Contents:
 * Reset
 * Base
 * Components
 */


/**
 * Reset
 *
 * Custom reset & normalization
 * 
 * Old school references:
 * html5doctor.com Reset Stylesheet v1.6.1 http://html5doctor.com/html-5-reset-stylesheet/
 * Eric Meyer's Reset CSS v2.0 http://meyerweb.com/eric/tools/css/reset/
 * Normalize github.com/necolas/normalize.css
 */
* {
  /* Est. 2012; https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  box-sizing: border-box;
}
html {
  /* From normalize:;
   * Prevent adjustments of font size after orientation changes in iOS.
   */
  -webkit-text-size-adjust: 100%;
  /* Show scroll bar to avoid jumpy content alignment
   * when navigate between pages with less or more 
   * and those overflowing the vertical viewport
   */
  overflow-y: scroll;
}
body, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
ul, ol, dl, dd, 
hr, 
figure, figcaption, 
iframe, 
fieldset, legend, input, textarea, select {
	margin: 0;
	padding: 0;
}
iframe {
  border: 0;
}
/* Add support for html5 elements in older browsers */
article, aside, details, 
footer, header, menu, nav, section,
hgroup,
figcaption, figure,  {
  display: block;
}
a {
  text-decoration: none;
  outline: 0;
  /* From normalize:
   * Remove the gray background on active links in IE 10.
   */
  background-color: transparent;
}
b, strong {
  /* From normalize:
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  font-weight: bolder;
}
img {
  /* Fix white space below images */
  vertical-align: bottom;
  /* From normalize:
   * Remove the border on images inside links in IE 10.
   */
  border-style: none;
}
[disabled] {
  cursor: default;
}
abbr {
  cursor:help;
}
button, select {
  /* From normalize:
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   */
  text-transform: none;
}
button, [type="button"], [type="reset"], [type="submit"] {
  /* From normalize:
  * Correct the inability to style clickable types in iOS and Safari.
  */
  -webkit-appearance: button;
}
template {
  /* From normalize:;
   * Add the correct display in IE 10+.
   */
  display: none;
}
[hidden] {
  /* From normalize
   * Add the correct display in IE 10.
   */
  display: none;
}


/**
 * Base
 *
 * Define css custom properties
 * and style html elements globally
 * only few classes included
 *
 * Contents:
 * Custom properties
 * Document
 * Text
 * Links
 * Lists
 * Tables
 * Buttons
 * Form items
 */

 /**
  * Custom properties
  *
  * a.k.a variables
  * Changing this will affect almost everything ahead
  *
  * Contents:
  * Fonts
  * Text size & Rhytm unit
  * Color schemes
  * * Base scheme
  * * Notification scheme
  * Extras
  */
 :root {
  /**
   * Fonts
   *
   * Fonts Make things look prettier
   * choose wisely
   */
  --text-font: 'Inconsolata', serif;
  --heading-font: 'Montserrat', sans-serif;
  /**
   * Font size & rhytm unit
   *
   * With this 
   * but difficult to handle 
   */
  --base-font-size: 16px;
  --rhytm-unit: 20px;
  /**
   * Color schemes
   */
  /**
   * Base scheme
   *
   * A split-complementary color scheme
   * a black that is not that black for text
   * 
   * Reference & tools:
   * https://www.sessions.edu/color-calculator/
   * https://ianstormtaylor.com/design-tip-never-use-black/
   */
  --base-color: #0b162a;
  --complementary-color-1: #e35835;
  --complementary-color-2: #cde534;
  --neutral-color: #fcfcfc;
  --heading-color: var(--base-color);
  --text-color: #1a1a1a;
  /**
   * Notification scheme
   */
  --information-color: #caeaf9;
  --information-text-color: #00529b;
  --warning-color: #feefb3;
  --warning-text-color: #9f6000;
  --error-color: #ffc8c8;
  --error-text-color: #d8000c;
  --success-color: #e5f5cc;
  --success-text-color: #4f8a10;
  /**
   * Extras
   */
  /* Max-width for a boxed container */
  --box-width: 90%;
  /* border-radius value
   * will apply globally for buttons &
   * .rounded helper class
   */
  --rounded: 0;
 }

/**
 * Document
 */

/**
 * Text
 * 
 */

/**
 * Links
 */

/**
 * Lists
 */

/**
 * Tables
 */

/**
 * Buttons
 */

/**
 * Form items
 */