/**
 * Magicssian
 * A CSS Boilerplate
 * Version: 0.1.0
 * http://codeinalabMX.github.io/magicssian
 * License: MIT
 *
 * Contents:
 * Reset
 * Base
 * Components
 * Utilities
 */


/**
 * Reset
 *
 * Custom reset & normalization
 * 
 * Old school references:
 * html5doctor.com Reset Stylesheet v1.6.1 http://html5doctor.com/html-5-reset-stylesheet/
 * Eric Meyer's Reset CSS v2.0 http://meyerweb.com/eric/tools/css/reset/
 * Normalize github.com/necolas/normalize.css
 */
* {
  /* Est. 2012; https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  box-sizing: border-box;
}
html {
  /* From normalize:;
   * Prevent adjustments of font size after orientation changes in iOS.
   */
  -webkit-text-size-adjust: 100%;
  /* Show scroll bar to avoid jumpy content alignment
   * when navigate between pages with less or more 
   * and those overflowing the vertical viewport
   */
  overflow-y: scroll;
}
body, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
dl, dd, 
hr, 
figure, figcaption, 
iframe, 
fieldset, legend, input, textarea, select {
	margin: 0;
	padding: 0;
}
ul, ol {
  margin: 0;
}
iframe, hr {
  border: 0;
}
/* Add support for html5 elements in older browsers */
article, aside, details, 
footer, header, menu, nav, section,
hgroup,
figcaption, figure,  {
  display: block;
}
a {
  text-decoration: none;
  outline: 0;
  /* From normalize:
   * Remove the gray background on active links in IE 10.
   */
  background-color: transparent;
}
b, strong {
  /* From normalize:
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  font-weight: bolder;
}
img {
  /* Fix white space below images */
  vertical-align: bottom;
  /* From normalize:
   * Remove the border on images inside links in IE 10.
   */
  border-style: none;
}
[disabled] {
  cursor: default;
}
abbr {
  cursor: help;
}
button, select {
  /* From normalize:
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   */
  text-transform: none;
}
button, [type="button"], [type="reset"], [type="submit"] {
  /* From normalize:
  * Correct the inability to style clickable types in iOS and Safari.
  */
  -webkit-appearance: button;
}
template {
  /* From normalize:;
   * Add the correct display in IE 10+.
   */
  display: none;
}
[hidden] {
  /* From normalize
   * Add the correct display in IE 10.
   */
  display: none;
}


/**
 * Base
 *
 * Define css custom properties
 * and style html elements globally
 * only few classes included
 *
 * Contents:
 * Custom properties
 * Document
 * Text
 * Links
 * Lists
 * Tables
 * Buttons
 * Form items
 */

 /**
  * Custom properties
  *
  * a.k.a variables
  * Changing this will affect almost everything ahead
  *
  * Contents:
  * Fonts
  * Text size & Rhytm unit
  * Color schemes
  * * Base scheme
  * * Notification scheme
  * Extras
  */
 :root {
  /**
   * Fonts
   *
   * Fonts Make things look prettier
   * choose wisely
   */
  /**
   * Font size & rhytm unit
   *
   * With this 
   * but difficult to handle 
   */
  /**
   * Color schemes
   */
  /**
   * Base scheme
   *
   * A split-complementary color scheme
   * a black that is not that black for text
   * 
   * Reference & tools:
   * https://www.sessions.edu/color-calculator/
   * https://ianstormtaylor.com/design-tip-never-use-black/
   */
  /**
   * Notification scheme
   */
  /**
   * Extras
   */
  /* Max-width for a boxed container */
  /* border-radius value
   * will apply globally for buttons &
   * .rounded helper class
   */
 }

/**
 * Document
 */
html {
  font-family: 'Inconsolata', serif;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
}
body {
  font-family: 'Inconsolata', serif;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
}
/**
 * Text
 * 
 */
p { 
  font-size: 1rem;
  line-height: 20px;
}
a { 
  font-size: 1rem;
  line-height: 20px;
}
q { 
  font-size: 1rem;
  line-height: 20px;
}
cite { 
  font-size: 1rem;
  line-height: 20px;
}
pre { 
  font-size: 1rem;
  line-height: 20px;
}
code { 
  font-size: 1rem;
  line-height: 20px;
}
ul { 
  font-size: 1rem;
  line-height: 20px;
}
ol { 
  font-size: 1rem;
  line-height: 20px;
}
dl { 
  font-size: 1rem;
  line-height: 20px;
}
h1 {
  font-size: 4.8750rem;      /* 78/16 */
  line-height: calc(5*20px);
}
.h1 {
  font-size: 4.8750rem;      /* 78/16 */
  line-height: calc(5*20px);
}
h2 {
  font-size: 2.8750rem;      /* 46/16 */
  line-height: calc(3*20px);
}
.h2 {
  font-size: 2.8750rem;      /* 46/16 */
  line-height: calc(3*20px);
}
h3 {
  font-size: 1.8750rem;      /* 30/16 */
  line-height: calc(3*20px);
}
.h3 {
  font-size: 1.8750rem;      /* 30/16 */
  line-height: calc(3*20px);
}
h4 {
  font-size: 1.3750rem;      /* 22/16 */
  line-height: calc(2*20px);
}
.h4 {
  font-size: 1.3750rem;      /* 22/16 */
  line-height: calc(2*20px);
}
h5 {
  font-size: 1.1250rem;      /* 18/16 */
  line-height: calc(2*20px);
}
.h5 {
  font-size: 1.1250rem;      /* 18/16 */
  line-height: calc(2*20px);
}
h6 {
  font-size: 0.8750rem;      /* 14/16 */
  line-height: 20px;
}
.h6 {
  font-size: 0.8750rem;      /* 14/16 */
  line-height: 20px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  color: #0b162a;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #0b162a;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #0b162a;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  color: #0b162a;
}
h5 {
  font-family: 'Montserrat', sans-serif;
  color: #0b162a;
}
h6 {
  font-family: 'Montserrat', sans-serif;
  color: #0b162a;
}
h1 {
  margin-top: calc(0.5*20px);
  margin-bottom: calc(0.5*20px);
}
h2 {
  margin-top: calc(0.5*20px);
  margin-bottom: calc(0.5*20px);
}
h3 {
  margin-top: calc(0.5*20px);
  margin-bottom: calc(0.5*20px);
}
h4 {
  margin-top: calc(0.5*20px);
  margin-bottom: calc(0.5*20px);
}
h5 {
  margin-top: calc(0.5*20px);
  margin-bottom: calc(0.5*20px);
}
h6 {
  margin-top: calc(0.5*20px);
  margin-bottom: calc(0.5*20px);
}
p {
  margin-top: calc(0.5*20px);
  margin-bottom: calc(0.5*20px);
}
cite {
  margin-top: calc(0.5*20px);
  margin-bottom: calc(0.5*20px);
}
small {
  /* Review:
   * Element height does not fit into rhytm unit
   */
  font-size: 0.7500rem;      /* 12/16 */
}
sub, sup {
  /* Review: 
   * Should prevent sub & sup affecting line height in all browsers
   */
  line-height: 0;
}
blockquote {
  padding: calc(1.5*20px);
  margin-left: calc(2*20px);
  border-left: 2px solid #e35835;
}
cite {
  display: inline-block;
  width: 100%;
  text-align: right;
}
pre {
  padding: calc(0.5*20px);
  background-color: #fbfbfb;
}
hr {
  height: 1px;
  /* Substract the element height
   * to keep block height into rhytm unit
   */
  margin: calc(20px - 1px) 20px;
  background-color: #e35835;
}
/**
 * Links
 */
a {
  transition: all .4s ease-out;
  /* Transparent border is added to prevent jumpy transition on hover */
  border-bottom: 1px solid transparent;
}
/* Default color: complementary-color-1 */
a:link {
    color: #e35835;;
}
a:visited {
    color: #e35835;;
}
a:hover {
  border-color: #e35835;
}
a:active {
  border-color: #e35835;
}
a.active {
  border-color: #e35835;
}
/* Review:;
 * Consider change class name for a more descriptive, semantic
 */
a.alt:link {
    color: #cde534;
}
a.alt:visited {
    color: #cde534;
}
a.alt:hover {
  border-color: #cde534;
}
a.alt:active a.alt.active {
  border-color: #cde534;
}
/**
 * Lists
 */

/**
 * Tables
 */

/**
 * Buttons
 */

/**
 * Form items
 */


/**
 * Components
 * 
 * Layout & custom re-usable elements
 *
 * Contents:
 * Container
 * Sticky footer
 * Grid
 * Notifications
 */


/**
 * Utilities
 *
 * 
 *
 */
/* BEEP BEEP Richie! They ALL float down here. When you're down here with us, you'll float too! */
.float-l {
  float:left;
}
.float-r {
  float:right;
}
/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: ' '; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
/* Visually */
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
/* Old school image replacement */
.ir {
  display:inline-block;
  background-color:transparent;
  border:0;
  text-indent:100%;
  white-space:nowrap;
  overflow:hidden;
}
.ir:before {
  display:block;
  width:0;
  height:100%;
}
/* Rounded corners */
.rounded {
  border-radius: 10px;
}
/* text alignemt */
.align-l {
  text-align:left;
}
.align-r {
  text-align:right;
}
.align-c {
  text-align:center;
}